body {
  background-color: #000000;
  font-family: 'VT323', monospace;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}

h1 {
  margin: 0;
  text-align: center;
  color: #9b0000;
  font-size: 7rem;
}

h5 {
  font-size: 30px;
  margin: 0;
}

h6 {
  color: yellow;
  margin: 0 auto;
  font-size:30px;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.display {
  display: flex;
  flex-direction: column;
  height: 35rem;
  width: 100%;
}

.mainScreen {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  min-height: 40rem;
  background-color: #000;
  font-size: 25px;
  white-space: pre-wrap;
}

.main-left {
  flex-basis: 65%;
}

.main-right {
  flex-basis: 35%;
}

.helpScreen {
  background-color: #000;
  position: fixed;
  width: 70%;
  /* margin: 1rem 1rem 0 1rem; */
  opacity: .9;
  color: white;
}

.message {
  background-color: #fff;
  height: 100%;
  width: 100%;
  white-space: pre-wrap;
}

.banner {
    display: flex;
    flex-flow: column;
    color: #9b0000;
}

p.banner, .ascii-line {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 20px;
  font-weight: bold;
  margin: 0 2rem;
  text-align: justify;
}

p.line {
  font-size: 30px;
  margin: 0 2rem;
}

.gameScreen {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/49326686-9a34-428c-b966-8b0727cae844/dbb0tkd-a06a2810-dfe8-44ff-b349-825ad0672aeb.jpg/v1/fill/w_900,h_451,q_75,strp/dungeon_wall___classic_by_zachvance_dbb0tkd-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD00NTEiLCJwYXRoIjoiXC9mXC80OTMyNjY4Ni05YTM0LTQyOGMtYjk2Ni04YjA3MjdjYWU4NDRcL2RiYjB0a2QtYTA2YTI4MTAtZGZlOC00NGZmLWIzNDktODI1YWQwNjcyYWViLmpwZyIsIndpZHRoIjoiPD05MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ._QkiTZiJjsY8zDdOUlUUTNwKMf0s1cEO2ZPsAxIJY6k);
  width: 100%;
  height: 100%;
  display: flex;
  border-top: dotted 5px #9b0000;
  border-bottom: dotted 5px #9b0000;
}

.box {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 2px dotted black;
}

.x-axis {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column-reverse;
}

.y-axis {
  width: 100%;
  height: 100%;
  border: 5px solid black;
}

.status {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.status-title {
  text-align: center;
  margin-bottom: 0;
  border: 5px solid #000;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.playerInfo, .playerInv, .roomInfo {
  width: 100%;
}

.roomContainer {
  border-top: 5px solid #9b0000;
  width: 100%;
}

p.room, p.playerInfo {
  font-size: 30px;
  margin: 10px 5px;
}

form {
  border-top: 5px solid #9b0000;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
}

input {
  width: 80%;
  font-size: 25px;
}

button {
  width: 20%;
  font-size: 30px;
  text-transform: uppercase;
  background: #343434;
  color: #9b0000;
}

button:hover {
  cursor: pointer;
}
