body {
  background-color: #000000;
  font-family: 'VT323', monospace;
}

h1 {
  margin: 0;
  text-align: center;
  color: red;
  font-size: 100px;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.mainScreen {
  width: 100%;
  height: 50rem;
  background-color: #ffffff;
  font-size: larger;
}

.mainScreen p {
  width: 60rem;
  overflow-wrap: normal;
}

form {
  margin: 2rem 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
}

input {
  width: 80%;
}

button:hover {
  cursor: pointer;
}
